@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html, body {
    height: 100%;
    font-family: "Inter", sans-serif;
}

body {
    margin: 0;
    background-color: #393E41;
}

h1 {
    margin: 0;
    margin-bottom: 15px;
    color: #1f8a58;
    font-size: 40px;
    font-weight: 800;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

h1 span {
    color: #DB5461;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #43484C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.container .btn-system {
    background-color: #26A96C;
    border: none;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    color: #F6F7EB;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    font-weight: 600;
    transition: .3s ease;
    cursor: pointer;
    width: 100%;
}

.container .btn-system:hover {
    background-color: #1f8a58;
}

.container p {
    font-size: 16px;
    color: #f6f7eb49;
}

.user-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.user-input label {
    font-size: 20px;
    font-weight: 600;
    color: #F6F7EB;
}

.user-input input {
    color: #fff;
    width: 325px;
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #5A6166;
    margin-top: 6px;
    margin-bottom: 20px;
    border: 3px solid #DB5461;
    transition: .3s ease;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.user-input input:focus {
    border: 3px solid #26A96C;
    outline: none;
}

.response {
    width: 380px;
    height: auto;
    background-color: #5A6166;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 3px solid #26A96C;
    color: #F6F7EB;
}

.response button {
    margin-top: 25px;
}

.head {
    display: flex;
    gap: 20px;
}

.head img {
    margin-bottom: 20px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.head img:hover {
    transform: scale(1.1);
    opacity: 0.9;
}

#llama-ref {
    color: #26A96C;
}

#footer {
    margin-top: 50px;
}

.tags-container {
  color: #F6F7EB;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px; 
  margin-bottom: 30px;
}

.tag {
  display: inline-block; 
  padding: 8px 12px;
  border-radius: 8px;
  background-color: #5A6166;
  color: #F6F7EB;
  cursor: pointer;
  transition: 0.3s ease;
  user-select: none;
  white-space: nowrap;
}

.tag:hover {
  background-color: #73797e;
}

.tag-selected {
  background-color: #26A96C;
  color: white;
  font-weight: 600;
}
